*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-field input {
  height: 1.6rem;
  font-size: 0.85rem;
  font-weight: 300;
  padding: 0.2rem;
  border: 1px solid gray;
  border-radius: 4px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
