.template-container {
  display: flex;
  width: 50%;
  backdrop-filter: blur(0px) saturate(200%);
  -webkit-backdrop-filter: blur(0px) saturate(200%);
  background-color: rgba(126, 124, 128, 0.07);
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  margin-left: 1rem;
}

.main {
  background-color: #fff;
  width: 70%;
}

.sidebar {
  background-color: #313131;
  width: 30%;
}

.heading {
  background-color: #ffdf00;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 4rem;
}

.heading h1 {
  margin: 0;
}

.heading h1 > span {
  font-weight: 400;
}

.heading p {
  font-size: 1.2rem;
  font-weight: 500;
}

.about-me {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.about-me hr {
  margin: 0.8rem 0;
}
.about-me h2 {
  font-size: 1.2rem;
  font-weight: 400;
}
